.heroDiv {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 1rem;
}

.heroDiv div {
  border: 1px solid #000;
  height: 200px;
  width: auto;
  margin: 1rem;
}



.product-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.product-image {
  height: 300px;
  align-content: center;
}

.product-content {
  padding: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  height: 60px;
}

.product-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.product-rating {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #ffa700;
  justify-content: space-between;
  border-top: 1px solid red;
  padding-top: 0.5rem;
}
