.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.logo {
  height: 75px;
  width: 75px;
}


.imageDiv{
  height: 400px;
  padding: 1rem;
  align-content: center;
}

.card-img-top{
  max-height: 300px;
}

// .product-description{
//   overflow: hidden;
//   text-overflow: ellipsis;
//   display: -webkit-box;
//   -webkit-line-clamp: 3; /* after 3 line show ... */
//   -webkit-box-orient: vertical;
//   transition-duration: 1s;
// }

// .product-description:hover{
//   text-overflow: unset;
//   overflow: unset;
//   z-index: 99999;
//   border: 1px solid red;
//   height: 300px;
//   transition-duration: 5s;
// }


.product-description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  transition: all 0.8s ease;
  padding: 15px;
  border-radius: 8px;
}
